.contact-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
}

.contact-form__fieldset {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.contact-form__button {
  border: 1px solid black;
  background-color: greenyellow;
  cursor: pointer;
  padding: 4px;
}

.contact-form__success-message {
  font-weight: 700;
  color: green;
}
